
<html>
<head>
<style type="text/css">
div{
    font-size: 15px;
}
plaintext{
    font-size: 14px;
}
</style>
<title>知应用户协议</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
</head>
<body>
<div style="width:100%;white-space:pre-line;">欢迎使用知应！
一.欢迎使用知应总则
1.1知应相关产品（包括但不限于知应APP与知应官方网站）的所有权与运营权归北京安志科技有限公司（以下简称本公司）所有；
1.2本协议为您（个人）与本公司之间关于知应相关产品的法律协议；
1. 3在注册、使用知应相关产品前，请仔细阅读本协议。除非你已阅读并接受本协议所有条款，否则你无权下载、安装或使用知应相关产品及相关服务。您的下载、安装、使用、获取知应帐号、登录等行为即视为您已阅读并同意上述协议的约束。如果您未满18周岁，请在法定监护人的陪同下阅读本协议。如果您对协议内容有任何疑问，请向本公司咨询。
1.4只要您使用知应相关产品，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得本公司对您问询的解答等理由，主张本协议无效，或要求撤销本协议。
1.5本协议可由本公司随时更新，用户应当及时关注并同意，本公司不承担通知义务。本公司的通知、公告、声明或其它类似内容是本协议的一部分。

二、关于本服务
2.1本服务的内容
本服务内容是指本公司向用户提供的社交旅行信息的分享平台，支持单人、多人参与，为用户提供包括但不限于发布旅行线路、上传照片、发送文字、聊天等即时通讯服务，并支持用户之间基于旅游的合法交易行为。
2.2本服务的形式
2.2.1 您使用本服务需要下载知应用户端软件或登录知应的网站。
2.2.2 本服务中知应用户端软件提供iOS和Android版本，用户必须选择与所安装终端设备相匹配的软件版本。
2.3本服务许可的范围
2.3.1 本公司给予您一项个人的、不可转让及非排他性的许可，以使用本服务。
2.3.2本条及本协议其他条款未明示授权的其它一切权利仍由本公司保留，您在行使这些权利时须另外取得本公司的书面许可。本公司如果未行使前述任何权利，并不构成对该权利的放弃。

三、服务的获取，及软件的安装、更新与卸载
3.1服务的获取
3.1.1您可以通过知应的用户端（包括网站和APP）享受本服务。
3.1.2在下载知应APP时，您可以从知应的网站上直接下载，也可以在得到本公司授权的第三方平台上下载。
3.1.3如果您从未经本公司的第三方平台下载知应APP，本公司无法保证该APP能够正常使用，并对因此对您造成的损失不予负责。
3.2知应APP的安装、更新与卸载
3.2.1 本公司可能不同的终端设备开发了不同的APP版本，您应该根据具实际情况选择下载合适的版本进行安装。
3.2.2下载安装知应APP后，您需要按照该程序提示的步骤进行正确安装。
3.2.3为了改善用户体验、完善服务内容，本公司将不断努力开发新的服务，并为您不时提供新版本的APP（这些更新可能会采取软件替换、修改、功能强化、版本升级等形式）。
3.2.4为了保证本APP及服务的安全性和功能的一致性，本公司有权不经向您特别通知而对本APP进行更新，或者对本APP的部分功能效果进行改变或限制。
3.2.5本APP新版本发布后，旧版本可能无法使用。本公司不保证旧版本APP继续使用及相应的用户服务，请您随时核对并下载最新版本。
3.2.6如果您不再需要使用本APP或需要安装新版本，可自行卸载。

四、注册
4.1注册资格
用户须具有法定的相应权利能力和行为能力的自然人，能够独立承担法律责任。您在完成知应账号的注册时，即视为您确认自己具备主体资格，能够独立承担法律责任。若因您不具备主体资格，而导致的一切后果，由您及您的监护人自行承担。
4.2注册资料
用户应自行诚信向本站提供注册资料，用户同意其提供的注册资料真实、准确、完整、合法有效，用户注册资料如有变动的，应及时更新其注册资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且本公司保留终止用户使用本平台各项服务的权利。
4.3实名认证制度
4.3.1为增强本服务的安全性及您的可信程度，在完成知应账号注册后，您可以选择进行实名认证。
4.3.2 在进行实名认证时，您需要提供您的真实姓名、身份证号码，及本人与身份证合影。
4.3.3在完成实名认证后，您会被标记为实名认证用户，但您向其他用户所展示的个人信息不变，其他用户也无法通过知应的客户端获取到您的实名认证信息。
4.4 账户
4.4.1您注册成功后，即成为知应的用户，将持有知应平台的唯一账号和密码等账户信息，您可以根据本平台规定改变您的密码。
4.4.2 您设置的会员名不得侵犯或涉嫌侵犯他人合法权益。否则，本公司有权注销您的账户。
4.4.3 用户不得将在本平台注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。
4.4.4 如果发现任何非法使用等可能危及您账户安全的情形是，您应当立即以有效方式通知本公司，并向公安机关报案。您理解本公司对您的请求采取行动需要合理时间，本公司对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。
4.5用户信息的合理使用
4.5.1 您了解并同意，本公司有权应国家司法、行政等主管部门的要求，向其提供您在知应平台填写的注册信息（及实名认证信息）等必要信息。如您涉嫌侵犯他人知识产权等权益，本公司亦有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供您必要的身份信息。
4.5.2您了解并同意，本公司有权使用用户的注册信息（及实名认证信息）等信息，登录进入用户的注册账户，进行证据保全，包括但不限于公证、见证等。

五、用户使用规范
5.1用户通过知应各个平台发布邀约线路、上传照片、聊天、使用其它信息服务和技术服务时需遵守中华人民共和国相关法律。
5.2 用户对其发布的任何信息负全部责任，所有用户不得在本站任何页面发布、转载、传送含有下列内容之一的信息，否则本站有权自行处理并不通知用户：
(1)违反宪法确定的基本原则的；
(2)危害国家安全，泄漏国家机密，颠覆国家政权，破坏国家统一的；
(3)损害国家荣誉和利益的；
(4)煽动民族仇恨、民族歧视，破坏民族团结的；
(5)破坏国家宗教政策，宣扬邪教和封建迷信的；
(6)散布谣言，扰乱社会秩序，破坏社会稳定的；
(7)散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；
(8)侮辱或者诽谤他人，侵害他人合法权益的；
(9)煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；
(10)以非法民间组织名义活动的；
(11)含有法律、行政法规禁止的其他内容的。
5.3对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保本公司免于因此产生损失或增加费用。
5.4如您涉嫌违反有关法律或者本协议之规定，使本公司遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿本公司因此造成的损失及（或）发生的费用，包括合理的律师费用。

六、隐私保护
6.1 保护用户个人信息是本公司的一项基本原则，本公司将会采取合理的措施保护用户的个人信息。但下列情况除外：
(1)事先获得用户的明确授权；
(2)根据有关的法律法规要求；
(3)按照相关政府主管部门的要求；
(4)为维护社会公众的利益。
6.2 您在注册帐号或使用本服务的过程中，需要提供一些必要的信息，例如：为向您提供帐号注册服务或进行用户身份识别，需要您填写手机号码；附近的人功能需要您同意使用你所在的地理位置信息；手机通讯录匹配功能需要您授权访问手机通讯录等。若进行实名认证，您需要提供真实的身份信息。
6.3 一般情况下，您可随时浏览、修改自己提交的信息，但出于安全性和身份识别（如号码申诉服务）的考虑，您可能无法修改注册时提供的初始注册信息及其他验证信息。
6.4 本公司将运用各种安全技术和程序建立完善的管理制度来保护您的个人信息，以免遭受未经授权的访问、使用或披露。
6.5 未经您的同意，本公司不会向本公司以外的任何公司、组织和个人披露您的个人信息，但法律法规另有规定的除外。

七、知识产权声明
7.1本公司是知应各平台的知识产权权利人。知应各平台的一切著作权、商标权、专利权、商业秘密等知识产权，以及与本平台相关的所有信息内容（包括但不限于文字、图片、音频、视频、图表、界面设计、版面框架、有关数据或电子文档等）均受中华人民共和国法律法规和相应的国际条约保护，本公司享有上述知识产权，但相关权利人依照法律规定应享有的权利除外。
7.2 未经本公司或相关权利人书面同意，你不得为任何商业或非商业目的自行或许可任何第三方实施、利用、转让上述知识产权。
7.3用户在知应各平台上发布的所有内容仅代表发布者自己的立场和观点，与本公司无关，由发布者本人承担一切法律责任。

八、其它
8.1若你和本公司之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，你同意将纠纷或争议提交北京安志科技有限公司注册地有管辖权的人民法院管辖。
8.5 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。
8.6 本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。
（正文完）
</div>

<div style="text-align:right">北京安志科技有限公司</div>

</body>
</html>


